body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

.background-image {
  height: 100vh;
  background: url(images/background.jpg) center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background: #eceee0;
  opacity: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
}

.main-box {
  text-align: center;
}

.to-do-list {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto; /* Enables scrolling */
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

  .main h1 {
    color: #525850;
  }

  .new-to-do button {
    color: #fdfefe;
    background-color: #448366;
  }

  .new-to-do button:hover,
  .new-to-do button:focus {
    color: #fdfefe;
    background-color: #2a6b4d;
  }

  .to-do-list input:checked {
    background-color: #3d755b !important;
  }

  .to-do-list input:checked + label {
    text-decoration: line-through;
    color: #bbb;
  }

  .to-do-list label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
  }

  .icons button:hover i {
    color: #ff2d00;
  }